/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.title {
  display: none;
}
.subtitle {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
  list-style: none;
  display: block;
  margin: 0 0 20px;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
  padding-bottom: 15px;
}
.header__img {
  width: 100%;
  display: block;
}
.header__link {
  font-family: fantasy, cursive;
}
@media (max-width: 768px) {

  .header { 
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-row-wrapper {
  display: flex;
}
ul {  /*сброс стилей*/
  margin: 0;
  padding: 0px;
}
li {  /*сброс стилей*/
  list-style: none;
}
.input {
  outline: none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}
.button:hover {
  color: #3a3a3a;
}
/* Heading */


input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task */

input#new-task {
  width: 318px;
}


/* Task list */
li {
  overflow: hidden;
  padding: 19px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
li > * {
  vertical-align: middle;
}
li > input[type="checkbox"] {
  margin: 0 10px;
}
li > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
li >  input[type="text"] {
  width: 226px;
}

button.delete img {
  height: 2em;
  transform: rotate(45deg);
  transition: transform 200ms ease-in;
}
button.delete img:hover {
  transform: rotate(0);
}

/* Completed */
ul#completed label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display: none;
}

ul li.edit-mode input[type=text] {
  display: inline-block;
  width: 347px;
}

ul li.edit-mode label {
  display: none;
}